[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "==7.0"
"PyPDF2" = "==1.26.0"

[dev-packages]
coverage = "*"
twine = "*"
sphinx = "*"

[requires]
python_version = "3.6"
